/* .box{
    background-color: rgb(248, 192, 153);
    display: flex;
    height: 250px;
    width: 500px;
    padding-left: 10px;
    padding-top:10px ;
    border: black solid 2px;
    margin: 10%;
    justify-content: space-evenly;
}
.sbox{
    height: 50px;
    width: 50px;
    padding-top: 10px;
    border: black solid 5px;

} */


/* four type selector 
element , class, id , universal selector */


/* .ot{
    height: 300px;
    width:300px;
    background-color: rgb(123, 115, 110);
   
}
.ib{
    background-color: red;
    height: 100px;
    width: 100px;
    border: black solid 2px;

    
}
#two{
    height: 70px;
    width: 100px;
    margin-top: 120px;
} */

